.footer {
	background-color: var(--background2);
	padding: 0.5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
	overflow: hidden;
}
.footer p {
	display: flex;
	gap: 5px;
}

.logo {
	display: flex;
	align-items: center;
}
.logo img {
	max-height: 7vh;
	width: 100%;
	object-fit: contain;
}

.footer a {
	color: var(--primary-color);
}
